[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "WeightedCluster"]
	path = WeightedCluster
	url = https://github.com/cran/WeightedCluster
	shallow = true
	registered = true
